body{

background:black;
margin:0;
font-family:'Orbitron', sans-serif;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

text-align:center;
position:relative;
max-width:500px;

}

.driver-img{

width:100%;
max-width:420px;
margin-bottom:-80px;

}

.card{

background:#162a6a;
padding:40px;
border-radius:30px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

h1{

font-size:38px;
margin:0;

}

h2{

font-weight:400;
margin-bottom:30px;
opacity:0.9;

}

.stats{

display:flex;
flex-direction:column;
gap:12px;

}

.stat{

display:flex;
justify-content:space-between;
font-size:22px;

}
